@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Concert Halls</h3>

    <p>
        This application was made as part of the WEB524 Fall 2023 course at Seneca Polytechnic. It is intended to allow for the management of
        concert venues using ASP.NET MVC in order to facilitate learning the foundations of this and related technologies.
    </p>
    <p>
        My name is Carmen Whitton, and I am a third year student at Seneca Polytechnic. I am passionate about programming, and hope to use this
        class to catapult into a later .NET Core project that will have some overlap with the technologies used in this application.
    </p>
    <p>
        I hope you find that application to be useful. If you have any feedback or issues, please do not hesitate to contact me at the email address
        listed below.
    </p>
</main>