@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Contact Me</h3>

    <address>
        Carmen Whitton<br />
        Toronto, ON, Canada
    </address>

    <p>
        For issues relating to this project, please contact me at the project email below.
    </p>
    <address>
        <strong>Project:</strong>   <a href="cwhitton@myseneca.ca">CWhitton@myseneca.ca</a><br />
    </address>
    <p>For all things unrelated, feel free to contact me at my personal email
        address listed below, or reach out to me at <a href="https://github.com/Carmen-Git-It/">my Github</a>.
    </p>
    <address>
        <strong>Personal:</strong>   <a href="carmenwhitton@gmail.com">CarmenWhitton@gmail.com</a><br />
    </address>
</main>